:root{
    --background-gray:#F2F2F2;
    --border-gray:#BDBDBD;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}

body{
    width: 100%;
}

.global-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    min-width: 300px;
    max-width: 375px;
   /*  max-width: 375px; */
    margin: 0 auto;
    
}

/*firts Seccion*/

.product-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    height: auto;
    padding: 30px 0 30px;
    border-radius: 12px;
    background-color: var(--background-gray);
    
   
}

.product-container__product-card{
    display: flex;
    width: 85%;
    height: 124px;
    margin: 0 auto; 
}
.product-card--modified{
    margin-bottom: 28.89px;
}

.product-container__product-card figure{
    width: 122px;
    height: 124px;
    margin-right: 19.39px;
}

.product-container .img-card{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

.product-container__product-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.product-description{

}

.box-quantity{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 122px;
    height: 50px;
    background-color: aqua;
    border-radius: 8px;
}

.product-container__shipping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 37.8px;
    margin: 0 auto;
    margin-top: 87.5px;
    border-top: 1px solid var(--border-gray);
}
.product-container__total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 37.8px;
    margin: 0 auto;
    border-top: 1px solid var(--border-gray);
   
}
